@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Nanum+Myeongjo:wght@800&family=Noto+Serif+KR:wght@300&display=swap');
* {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Noto Serif KR', serif;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("/images/Forest1.jpg");
  background-size: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#container {
  width: 50vw;
  height: 80vh;
  padding: 0;
  margin: 10vh 25vw;
  z-index: 1;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}

#logBox {
  position: relative;
  width: 100vw;
  height: 80vh;
  z-index: 2;
  display: grid;
  grid-template-columns: 50vw 50vw;
}


#openLogin {
  width: 2vw;
  height: 80vh;
  position: absolute;
  left: 75vw;
  z-index: 100;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
}

#box {
  width: 50vw;
  height: 80vh;
  background-color: rgba(f, f, f, 0.5);
}

#login {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  z-index: 5;
}

#logArea {
  width: 30vw;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 20px;
  padding: 0;
}

#logArea > h5 {
  margin: 3.5vh 0;
  font-size: 1.8rem;
  height: 8vh;
  width: 100%;
  text-align: center;
  border-bottom: 0.2px rgba(155, 155, 155, 0.693) solid;
  color: rgb(69, 69, 69);
}

#logArea input {
  width: 79.5%;
  margin: 3% 10%;
  height: 5vh;
  border: none;
  border-bottom: 3px solid rgb(129, 129, 129);
  color: rgb(83, 83, 83);
  font-size: 0.5rem;
}


.loginElements {
  height: 35px;
  display: flex;
}

.loginElements > a{
  height:30px;
  width:150px;
  line-height: 30px;
  margin-left: 60px;
  font-size: 0.8rem;
}

.loginElements > p{
  height:30px;
  width:200px;
  display: flex;
  line-height: 30px;
  margin-left: 80px;
  font-size: 0.8rem;
}



#logInBtn {
  width: 20vw;
  height: 5vh;
  margin: 0 5vw;
  font-size: 1rem;
  color: white;
  background-color: rgb(202, 220, 199);
  border-radius: 20px;
  border-color: transparent;
}

#signup {
  width: 100%;
  height: 8vh;
  text-align: center;
  line-height: 8vh;
}

#signup span {
  color: blue;
  font-weight: bold;
}

a {
  text-decoration: none;
}
