* {
    margin:0;
    padding:0;
    box-sizing: border-box;   /* 박스 영역은 테두리까지 */ 
}



#container
{
    margin:0 auto;  /* 화면 중앙에 배치 */
    width:1200px;    /* 너비 */
    display:flex;
}


.nav {
    width:30%;    /*  너비 */
    height:100px;   /* 높이 */ 
    background-color:limegreen;
}

.contents {
    width:30%;    /*  너비 */
    height:100px;   /* 높이 */ 
    background-color: blue
    
}

.right.side {
    width:30%;    /*  너비 */
    height:100px;   /* 높이 */ 
    background-color:red;
}
